<div class="row padding-botton-1rem text-center animated slideInUp">
  <div class="col-12 col-md-3">
      <img src="/assets/albuns/cabelo-album.png" class="img-fluid img-thumbnail">
      <p class="lead">Cabelos </p>
      <p>Penteados, Mechas, Hidratção etc..</p>
  </div>
  <div class="col-12 col-md-3">
      <img src="/assets/albuns/manicure-album.jpg" class="img-fluid img-thumbnail">
      <p class="lead">Manicure e Pedicure </p>
      <p>Remoção de cuticulas, esmaltar e +</p> 
  </div>
  <div class="col-12 col-md-3">
          <img src="/assets/albuns/sobrancelhasfioafio.jpg" class="img-fluid img-thumbnail">
          <p class="lead">Sobrancelhas </p>
          <p>Henna, Fio-a-Fio, Remoção de excessos</p> 
  </div>
  <div class="col-12 col-md-3">
          <img src="/assets/albuns/produto-album.jpg" class="img-fluid img-thumbnail">
          <p class="lead">Loja Lafan </p>
          <p>Produtos de marcas famosas Avon, Aussie ...</p> 
  </div>
</div>
