/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Tangerine');

.font-lafan {
    font-family: 'Tangerine', cursive;
    font-size: 2em;   
}

.background-lafan {
    background: linear-gradient( to bottom, white, violet 60%);
}

/* referencia para container de login */
html, body  {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
